html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #202020;
    font-size: 13px;
}

#viewerDiv {
    z-index: 0;
    height: 100%;
}

#menuDiv {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 1;
}

#menuDiv, .ac {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
